body {
	margin: 0;
	padding: 0;
	background: #ffffff;
}
.container {
	position: relative;
	width: 1024px;
	height: 640px;
}
button{
	min-width: 5em;
	min-height: 2.5em;
}
#UI_stats {
	position: absolute;
	left: 5px;
	top: 5px;
	color: white;
	font-family: monospace;
	padding: 1em;
}
#UI_movement {
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	/*font-family: monospace;*/
	padding: 1em;
}